/* Sadəcə HTML Səhvədə olan kodları yazmağınız kifayətdir.
CSS kodları barəsində dərslik -> https://github.com/SadiqAbdullay3v/CSS-tutorial */

.center {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #10455e91;
    padding: 50px;
    width: 300px;
    border-radius: 40px;
}

a {
    display: flex;
    font-size: 13px;
    justify-content: left;
    margin-bottom: 10px;
}

.login input {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.login button[type=Submit] {
    width: 200px;
    height: 30px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

